.page {
    display: flex;
    flex-direction: column;

    font-family: var(--font-family);
}

.page > header {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;

    border-bottom: 1px solid var(--secondary);

    gap: 1rem;

    min-height: 10vh;
}

.page > header > svg {
    width: 2rem;
    height: 2rem;

    color: var(--primary);
}

.page > header > .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page > header > .info > h1 {
    font-size: 1.75rem;
    font-weight: 600;

    color: var(--dark);
}

.page > header > .info > p {
    font-size: 0.9rem;
    font-weight: 400;

    color: var(--primary);
}

.page > main {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 2rem;
    padding-bottom: 1rem;

    min-height: 90vh;
}

.page > main > .intro {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;
}

.page > main > .intro > h2 {
    font-size: 1.35rem;
    font-weight: 600;

    text-align: center;

    color: var(--dark);
}

.page > main > .intro > p {
    font-size: 0.9rem;
    font-weight: 400;

    color: var(--primary);

    width: min(75ch, 100%);
}

.page > main > .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;

    padding: 1rem;

    width: 100%;
}

.page > main > .content > textarea {
    font-family: var(--font-family);
    font-size: 0.9rem;

    width: min(42.5rem, 100%);
    min-height: 2.25rem;
    height: 100%;

    padding: 0.5rem;

    border: 1px solid var(--secondary);
    border-radius: 0.5rem;

    box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.1);

    resize: vertical;
}

.page > main > .content > button {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 400;

    padding: 0.75rem 1.25rem;

    border: none;
    border-radius: 0.35rem;

    background-color: var(--dark);
    color: var(--light);

    cursor: pointer;

    transition: background-color 0.2s ease-in-out,
                box-shadow 0.2s ease-in-out;

    margin-top: auto;
}

.page > main > .content > button:hover {
    background-color: var(--primary);
    box-shadow: 0 4px 0.5rem rgba(0, 0, 0, 0.2);
}